* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

section {
  background-color: white;
}

html {
  max-width: 1920px;
  margin: 0 auto;
  will-change: transform;
}

.body {
  position: relative;
  background-color: #111;
  overflow-x: hidden;
  margin: 0 auto;
}
.body.menu-open {
  overflow-y: hidden;
}

.swiper-pagination-bullet {
  transition: all 0.3s;
}

.wave-top {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 80px;
  pointer-events: none;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wave-top svg {
  width: 100%;
  height: 100%;
}

.wave-bottom {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 50px;
  pointer-events: none;
}
.wave-bottom path:first-child {
  opacity: 0.3;
}
.wave-bottom path:nth-child(2) {
  opacity: 0.15;
}

.wave-bottom {
  position: absolute !important;
  bottom: -1px;
  left: 0;
  width: 100%;
  z-index: 1;
  height: auto;
  pointer-events: none;
}
.wave-bottom svg path:first-child {
  opacity: 0.15;
}
.wave-bottom svg path:nth-child(2) {
  opacity: 0.2;
}

a:hover {
  color: white;
}

.headers {
  will-change: transform;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.title {
  text-transform: uppercase;
  font-size: 50px;
}

.subtitle {
  font-weight: 300;
  font-size: 18px;
}

.text {
  font-size: 22px;
}

.swiper {
  user-select: none;
}

@keyframes duo {
  0%, 50%, 100% {
    opacity: 0.9;
  }
  25%, 75% {
    opacity: 0.2;
  }
}
@keyframes duo-2 {
  0%, 50%, 100% {
    opacity: 0.2;
  }
  25%, 75% {
    opacity: 0.9;
  }
}
.buttons:hover .icon-element-first {
  animation: duo-2 3s ease 0s infinite normal forwards;
}
.buttons:hover .icon-element-second {
  animation: duo 3s ease 0s infinite normal forwards;
}

.swiper {
  --swiper-theme-color: black;
}

[data-fade] {
  will-change: transform, opacity;
  transition: transform 1s, opacity 1s;
  opacity: 0;
}

[data-fade=right] {
  transform: translate(-100px, 0);
}

[data-fade=left] {
  transform: translate(100px, 0);
}

[data-fade=top] {
  transform: translate(0, -50px);
}

[data-fade=bottom] {
  transform: translate(0, 50px);
}

.btn-icon {
  position: relative;
  display: inline-block;
  border: none;
  padding: 0 20px;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #fff;
}
@media screen and (max-width: 1400px) {
  .btn-icon {
    font-size: 14px;
  }
}
.btn-icon .btn-text {
  font-weight: 400;
  display: block;
  padding: 15px 20px;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition-delay: 0s, 0s, 0s;
  transition-delay: 0.3s;
}
.btn-icon .btn-img {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 26px;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  fill: #fff;
  transition: all 0.4s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.btn-icon .btn-img .icon-element-first {
  opacity: 0.2;
}
.btn-icon .btn-img .icon-element-second {
  opacity: 0.9;
}
.btn-icon:hover .btn-text {
  opacity: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  transition-delay: 0s;
}
.btn-icon:hover .btn-img {
  transition-delay: 0.07s;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.btn-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: inherit;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 35% 100%, 35% 60%, 65% 60%, 65% 100%, 100% 100%, 100% 0%);
  clip-path: url(../index.html#clipBox);
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.btn-icon.btn-gradient {
  color: #717171;
  background: transparent;
  border-radius: 3px;
  min-width: 225px;
}
.btn-icon.btn-gradient .btn-text {
  position: relative;
  z-index: 2;
  padding: 12px 20px;
}
.btn-icon.btn-gradient::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, black, red);
  border-radius: 5px;
  z-index: 0;
}
.btn-icon.btn-gradient::before {
  content: "";
  -webkit-transform: none;
  transform: none;
  border: none;
  -webkit-clip-path: none;
  clip-path: none;
  background: #fff;
  z-index: 1;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  top: 2px;
  left: 2px;
  transition: 0.4s all;
}
.btn-icon.btn-gradient:hover::before {
  opacity: 0;
}
.btn-icon.btn-gradient .btn-img {
  z-index: 2;
}

.gradient-text {
  background: linear-gradient(to bottom right, black, red);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 600;
}

.menu-open #particles-js {
  height: calc(88vh - 1px);
}
.menu-open .popout-container {
  z-index: 20;
}
@media screen and (max-width: 990px) {
  .menu-open .popout-container {
    width: 50vw;
  }
}
@media screen and (max-width: 650px) {
  .menu-open .popout-container {
    width: 70vw;
  }
}
.menu-open .body-wrap {
  transform: scale(0.75) translate3d(-32vw, 0, 0);
  z-index: 100;
  overflow-x: hidden;
  background-color: transparent;
}
@media screen and (max-width: 990px) {
  .menu-open .body-wrap {
    transform: scale(0.75) translate3d(-49.25vw, 0, 0);
  }
}
@media screen and (max-width: 650px) {
  .menu-open .body-wrap {
    transform: scale(0.75) translate3d(-98.25vw, 0, 0);
  }
}
.menu-open .close-btn-container {
  z-index: 101;
  -webkit-transform: translate3d(50%, -50%, 0) scale(1);
  transform: translate3d(50%, -50%, 0) scale(1);
  transition: 0.4s background-color, 0.8s -webkit-transform 0.1s;
  transition: 0.4s background-color, 0.8s transform 0.1s;
  transition: 0.4s background-color, 0.8s transform 0.1s, 0.8s -webkit-transform 0.1s;
  pointer-events: all;
  visibility: visible;
}
@media screen and (max-width: 990px) {
  .menu-open .close-btn-container {
    right: 50vw;
  }
}
@media screen and (max-width: 650px) {
  .menu-open .close-btn-container {
    right: 87vw;
  }
}

.popout-container {
  z-index: -1;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  width: 30%;
  color: white;
}

.popout__menu {
  margin-top: 10vh;
  font-size: 28px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popout__link {
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
  transition: all 0.5s;
  font-weight: 300;
  color: white;
}
.popout__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  transition: 0.5s all;
  background: white;
}
.popout__link_active, .popout__link:hover {
  color: red;
}
.popout__link_active::before, .popout__link:hover::before {
  width: 100%;
  background: red;
}

.socials {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 20px;
}
.socials__icon {
  height: 21px;
  transition: fill 0.4s;
  fill: #717171;
}
.socials__icon:hover {
  fill: red;
}

.popout__contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.popout__contacts .contacts__link {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}
.popout__contacts .contacts__link:hover {
  filter: brightness(0.7);
}
.popout__contacts .contacts__icon {
  width: 20px;
  fill: red;
  opacity: 0.6;
  margin-right: 10px;
}

.close-btn-container {
  position: absolute;
  top: 50%;
  right: 36.75vw;
  -webkit-transform: translate3d(50%, -50%, 0) scale(0);
  transform: translate3d(50%, -50%, 0) scale(0);
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: red;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 16px 44px rgba(0, 0, 0, 0.3);
  transition: 0.4s background-color, 0.2s -webkit-transform;
  transition: 0.4s background-color, 0.2s transform;
  transition: 0.4s background-color, 0.2s transform, 0.2s -webkit-transform;
  transition-delay: 0s;
  z-index: 20;
  pointer-events: none;
  visibility: hidden;
}
.close-btn-container:hover {
  background-color: white;
}
.close-btn-container:hover svg {
  fill: red;
}
.close-btn-container svg {
  transition: 0.4s fill;
  width: 14px;
  fill: white;
}

.body-wrap {
  position: relative;
  z-index: 10;
  transition: 0.4s transform;
  height: 100vh;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  font-weight: 300;
}

main {
  min-width: 375px;
}

.container {
  max-width: 1500px;
}

.footer {
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: #111;
  min-width: 375px;
}
@media screen and (max-width: 1000px) {
  .footer {
    text-align: center;
  }
}
.footer__disclaimer {
  background-color: transparent;
  color: white;
  margin: 0;
}

.form {
  position: relative;
  background-color: #f6f6f6;
  color: #717171;
  padding: 14vw 0;
}
@media screen and (min-width: 990px) {
  .form {
    padding: 7.8vw 0;
  }
}
.form .btn-icon.btn-gradient::before {
  background: #f6f6f6;
}
.form__content {
  display: flex;
  justify-content: space-between;
  row-gap: 50px;
  margin-top: 50px;
  flex-wrap: wrap;
}
.form__content input:focus {
  box-shadow: none;
}
.form__content .form-control {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid;
  border-image: linear-gradient(to bottom right, black, red) 1;
  padding: 20px;
}
.form__content textarea {
  width: 100%;
  padding: 20px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid;
  border-image: linear-gradient(to bottom right, black, red) 1;
}
.form__content textarea:focus {
  outline: none;
}

.form__element {
  position: relative;
  flex: 0 0 49%;
}

label.error {
  position: absolute;
  top: calc(100% + 10px);
  color: red;
}

.references {
  position: relative;
  padding: 4vw 0;
}
.references .swiper {
  margin-top: 50px;
  padding-bottom: 100px;
}
.references .card-body {
  background: #f6f6f6;
  color: #717171;
  padding: 25px;
}
.references .card {
  height: 300px;
  border: none;
  border-radius: 16px;
  overflow: hidden;
}
.references__card-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.references__card-header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px;
  height: 1px;
  background-color: #9e9c9c;
}
.references__card-header p {
  margin: 0;
}
.references__card-header .references__name {
  font-weight: 400;
}
.references__stars-container {
  width: 20%;
}
.references__review {
  margin-top: 24px;
}

.process {
  position: relative;
  padding: 14vw 0;
  background-color: #f6f6f6;
  color: #717171;
}
@media screen and (min-width: 990px) {
  .process {
    padding: 7.8vw 0;
  }
}
.process .btn-icon.btn-gradient::before {
  background: #f6f6f6;
}
.process__item {
  position: relative;
  border-radius: 8px;
  padding: 20px;
  overflow: hidden;
  transition: all 0.3s;
}
@media screen and (min-width: 990px) {
  .process__item {
    flex: 0 0 30%;
  }
}
.process__item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.process__item * {
  position: relative;
  z-index: 1;
}
.process__item::after {
  content: "";
  position: absolute;
  opacity: 0;
  inset: 0;
  transition: all 0.3s;
  background: linear-gradient(to bottom right, black, red);
}
.process__item:hover {
  color: white;
}
.process__item:hover::after {
  opacity: 1;
}
.process__image {
  width: auto;
  height: 50px;
}
.process__item:hover stop {
  stop-color: white;
}

stop {
  transition: 0.3s all;
}

.features {
  position: relative;
  padding-top: 150px;
}
.features .swiper .swiper-slide {
  text-align: center;
  font-weight: 300;
  color: #717171;
  margin-bottom: 100px;
}
.features .swiper .swiper-slide img {
  height: 200px;
  object-fit: contain;
  margin-bottom: 20px;
}
.features .swiper .swiper-slide h4 {
  text-transform: uppercase;
  font-weight: 300;
}

.services {
  padding: 14vw 0;
  background-color: #f6f6f6;
}
@media screen and (min-width: 990px) {
  .services {
    padding: 7.8vw 0;
  }
}
@media screen and (max-width: 500px) {
  .services {
    position: relative;
  }
  .services .wave-top {
    translate: 0 -1px;
  }
}
.services .btn-icon.btn-gradient::before {
  background: #f6f6f6;
}
.services .nav {
  position: relative;
  border-bottom: none;
}
.services .nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, black, red);
}
.services .nav-item {
  width: 19%;
  overflow: hidden;
  transition: 0.3s all;
}
.services .nav-item__text {
  display: block;
  color: #717171;
  font-weight: 400;
  position: relative;
  z-index: 1;
  margin-bottom: 16px;
  transition: all 0.3s;
}
@media screen and (max-width: 800px) {
  .services .nav-item__text {
    display: none;
  }
}
.services .nav-item__img {
  position: relative;
  display: block;
  height: 36px;
  z-index: 1;
  margin: 16px auto;
  transition: all 0.3s;
}
.services .nav-link {
  position: relative;
  width: 100%;
  border: none;
  overflow: hidden;
}
@media screen and (max-width: 799px) {
  .services .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.services .nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
  background: linear-gradient(to bottom right, black, red);
}
.services .nav-link.active::after,
.services .nav-link:hover::after {
  opacity: 1;
}
.services .nav-link.active .nav-item__img,
.services .nav-link:hover .nav-item__img {
  fill: white;
}
.services .nav-link.active .nav-item__text,
.services .nav-link:hover .nav-item__text {
  color: white;
}
.services li {
  position: relative;
}
@media screen and (max-width: 990px) {
  .services li {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .services li {
    font-size: 12px;
  }
}
.services li::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 12px;
  height: 2px;
  width: 10px;
  background: linear-gradient(to bottom right, black, red);
}

.collage {
  position: relative;
}
.collage__image-container {
  height: 100%;
  box-shadow: 2px 0 4px -2px rgba(128, 128, 128, 0.226);
  position: relative;
}
.collage__image-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 40px 5px #f6f6f6;
}
@media screen and (max-width: 1000px) {
  .collage__image-wrapper {
    height: 60vh !important;
  }
}
.collage__image {
  display: flex;
  flex-direction: column;
  height: 61.2vw;
  transform: translate3d(-50%, -50%, 0) rotate(22.5deg);
  width: 150%;
  position: absolute;
  left: 50%;
  top: 50%;
}
@media screen and (max-width: 1000px) {
  .collage__image {
    height: 108vh;
    width: 200%;
  }
}
.collage__image-line {
  display: flex;
  transition: 1.5s transform ease-out;
  will-change: transform;
}
@media screen and (max-width: 1000px) {
  .collage__image-line {
    height: 108vh !important;
    width: 200%;
  }
}
.collage__image-item {
  width: calc(16.6666% - 12px);
  height: calc(12.24vw - 12px);
  margin: 7.5px;
}
@media screen and (max-width: 1000px) {
  .collage__image-item {
    height: calc(21.6vh - 12px);
    width: 8%;
  }
}
.collage .gradient-text {
  font-size: 28px;
}
@media screen and (max-width: 1700px) {
  .collage .gradient-text {
    font-size: 24px;
  }
}
.collage .text {
  font-size: 16px;
  padding: 14vh 10% !important;
}
@media screen and (max-width: 1400px) {
  .collage .text {
    font-size: 12px;
  }
}
@media screen and (max-width: 990px) {
  .collage .text {
    font-size: 18px;
  }
}
.collage .wave-bottom {
  height: auto;
  bottom: -10px;
}

.projects {
  padding: 14vw 0;
  background-color: #f6f6f6;
  position: relative;
}
@media screen and (min-width: 990px) {
  .projects {
    padding: 7.8vw 0;
  }
}
.projects .btn-icon.btn-gradient::before {
  background: #f6f6f6;
}
.projects__image {
  margin-top: 30px;
  height: min(30vw, 340px);
}
@media screen and (max-width: 575px) {
  .projects__image {
    height: 340px;
  }
}
.projects__item {
  height: 300px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  text-decoration: none;
  transition: all 0.3s;
  color: white;
}
.projects__item:hover {
  transform: scale(1.05);
  border-radius: 8px;
  z-index: 2;
}
.projects__item-text {
  position: relative;
  z-index: 1;
}
.projects__item-header {
  text-transform: uppercase;
}
.projects .buttons {
  text-align: center;
}
.projects__item-image {
  height: 100%;
  width: 100%;
  position: absolute;
  filter: brightness(0.5);
  top: 0;
  left: 0;
}

.quad-image-container {
  pointer-events: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.quad-image {
  width: 50%;
  position: relative;
  border-radius: 0;
  background-color: transparent;
}
.quad-image * {
  box-shadow: 0 40px 100px 0 rgba(0, 0, 0, 0.15), 0 25px 80px rgba(0, 0, 0, 0.1);
}
.quad-image:nth-child(2) {
  z-index: 4;
  transform: translate(-10%, 10%);
}
.quad-image:first-child {
  z-index: 3;
}
.quad-image:nth-child(3) {
  z-index: 2;
  transform: translate3d(10%, -10%, 0);
}
.quad-image:last-child {
  z-index: 5;
  transform: translate3d(10px, -10px, 0);
}
.quad-image__content {
  background-color: black;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 88vh;
  background-color: #19b6b6;
  background-image: linear-gradient(45deg, black, red);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  height: 88vh;
  color: white;
  overflow: hidden;
}
.hero .container {
  max-width: 1100px;
}
.hero div:not(:first-child) {
  position: relative;
  z-index: 2;
}
.hero__link:first-child {
  margin-right: 3rem;
}
.hero__link:hover::before {
  transform: none;
}
.hero__link::before {
  content: "";
  position: absolute;
  inset: 0;
  transition: 0.4s all;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  border: 2px solid white;
  transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  will-change: auto;
}
.hero .wave-bottom {
  height: 100px;
}
.hero .wave-bottom svg {
  width: 100%;
  height: 100px;
}
.hero .wave-bottom svg path:first-child {
  opacity: 0.15;
}
.hero .wave-bottom svg path:nth-child(2) {
  opacity: 0.2;
}

.header {
  position: fixed;
  display: flex;
  z-index: 100;
  top: 0;
  left: 0;
  margin: 0 auto;
  min-width: 375px;
  width: min(100%, 1920px);
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: all 1s;
  padding: 10px 24px;
}
.header.scrolled {
  background-color: rgba(0, 0, 0, 0.4392156863);
}
.header__logo {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.header__menu-toggle {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 30px;
  height: 18px;
}
.header__menu-toggle:hover .menu-toggle__line {
  transform: translateX(36px);
}

.menu-toggle__line {
  position: relative;
  width: 30px;
  height: 2px;
  background-color: white;
  transition: all 0.4s;
}
.menu-toggle__line:nth-child(2) {
  transition-delay: 0.1s;
}
.menu-toggle__line:last-child {
  transition-delay: 0.2s;
  width: 22px;
}
.menu-toggle__line::before {
  position: absolute;
  content: "";
  top: 0;
  right: calc(100% + 6px);
  width: 100%;
  height: 100%;
  background-color: white;
}

/*# sourceMappingURL=main.css.map */
