.body-wrap{
    position: relative;
    z-index: 10;
    transition: .4s transform, .4s background-color;
    height: 100vh;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    font-weight: 300;
    scrollbar-width: none;
}

.body {
    position: relative;
    background-color: #111;
    overflow-x: hidden;
    margin: 0 auto;

    &.menu-open {
        overflow-y: hidden;
    }
}

@import "body/footer";
@import "body/form";
@import "body/references";
@import "body/process";
@import "body/features";
@import "body/services";
@import "body/collage";
@import "body/projects";
@import "../components/quad-images";
@import "../components/particles";
@import "body/hero";
@import "body/header";