.menu-open{
    .popout-container{
        z-index: 20;

        @media screen and (max-width: 990px) {
            width: 50vw;
        }
        
        @media screen and (max-width: 650px) {
            width: 70vw;
        }
    }

    .body-wrap{
        transform: scale(.75) translate3d(-32vw,0,0);
        overflow-x: hidden;
        background-color: #111;

        @media screen and (max-width: 990px) {
            transform: scale(.75) translate3d(-49.25vw,0,0);
        }
        @media screen and (max-width: 650px) {
            transform: scale(.75) translate3d(-98.25vw,0,0);
        }
    }

    .close-btn-container{
        -webkit-transform: translate3d(50%,-50%,0) scale(1);
        transform: translate3d(50%,-50%,0) scale(1);
        transition: .4s background-color,.8s -webkit-transform .1s;
        transition: .4s background-color,.8s transform .1s;
        transition: .4s background-color,.8s transform .1s,.8s -webkit-transform .1s;
        pointer-events: all;
        visibility: visible;

        @media screen and (max-width: 990px) {
            right: 50vw;
        }

        @media screen and (max-width: 650px) {
            right: 87vw;
        }
    }
}

.popout-container{
    z-index: -1;
    top: 0;
    right: 0;
    width: 30%;
    color: white;
}

.popout__menu{
    margin-top: 10vh;
    font-size: 28px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.popout__link{
    position: relative;
    text-decoration: none;
    padding-bottom: 5px;
    transition: all .5s;
    font-weight: 300;
    color: white;

    &::before{
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        left: 0;
        bottom: 0;
        transition: .5s all;
        background: white;
    }

    &_active,
    &:hover{
        color: red;
        
        &::before{
            width: 100%;
            background: red;
        }
    }
}

.socials{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 20px;

    &__icon{
        height: 21px;
        transition: fill .4s;
        fill: #717171;

        &:hover{
            fill: red;
        }
    }
}

.popout__contacts{
    display: flex;
    flex-direction: column;
    gap: 15px;

    .contacts__link{
        color: white;
        text-decoration: none;
        transition: all .3s;

        &:hover{
            filter: brightness(.7);
        }
    }

    .contacts__icon{
        width: 20px;
        fill: red;
        opacity: .6;
        margin-right: 10px;
    }
}


.close-btn-container{
    position: absolute;
    top: 50%;
    right: 36.75vw;
    -webkit-transform: translate3d(50%,-50%,0) scale(0);
    transform: translate3d(50%,-50%,0) scale(0);
    overflow: hidden;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: red;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 16px 44px rgba(0,0,0,.3);
    transition: .4s background-color,.2s -webkit-transform;
    transition: .4s background-color,.2s transform;
    transition: .4s background-color,.2s transform,.2s -webkit-transform;
    transition-delay: 0s;
    z-index: 20;
    pointer-events: none;
    visibility: hidden;
    
    &:hover{
        background-color: white;

        svg{
            fill: red; 
        }
    }

    svg{
        transition: .4s fill;
        width: 14px;
        fill: white;
    }
}