.gradient-text{
    background: linear-gradient(to bottom right,#70f0ee,#4e69d4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: 600;
}