a:hover{
    color: white;
}

.headers{
    will-change: transform;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.title{
    text-transform: uppercase;
    font-size: 50px;
}

.subtitle{
    font-weight: 300;
    font-size: 18px;
}

.text{
    font-size: 22px;
}