@keyframes duo {
	0%,
	50%,
	100% {
		opacity: .9;
	}

	25%,
	75% {
		opacity: .2;
	}
}
@keyframes duo-2 {
	0%,
	50%,
	100% {
		opacity: 0.2;;
	}

	25%,
	75% {
		opacity: .9;
	}
}

.buttons:hover{
    .icon-element-first{
        animation: duo-2 3s ease 0s infinite normal forwards;
    }
    
    .icon-element-second{
        animation: duo 3s ease 0s infinite normal forwards;
    }
}

.swiper{
	--swiper-theme-color: black;
}

[data-fade]{
	transition: transform 1s, opacity 1s;
	opacity: 0;
}

[data-fade='right']{
	transform: translate(-100px, 0);
}

[data-fade='left']{
	transform: translate(100px, 0);
}

[data-fade='top']{
	transform: translate(0, -50px);
}

[data-fade='bottom']{
	transform: translate(0, 50px);
}