.collage{
    position: relative;

    &__image-container{
        height: 100%;
        box-shadow: 2px 0 4px -2px rgba(128, 128, 128, 0.226);
        position: relative;
    }

    &__image-wrapper{
        position: relative;
        height: 100%;
        overflow: hidden;
        box-shadow: 0 0 40px 5px #f6f6f6;
        
        @media screen and (max-width: 1000px) {
            height: 60vh !important;
        }
    }

    &__image{
        display: flex;
        flex-direction: column;
        height: min(calc(34vw * 1.8), 1000px);
        transform: translate3d(-50%,-50%,0) rotate(22.5deg);
        width: 150%;
        position: absolute;
        left: 50%;
        top: 50%;

        @media screen and (max-width: 1000px) {
            height: calc(60vh * 1.8);
            width: 200%;
        }
        
        &-line{
            display: flex;
            transition: 1.5s transform ease-out;
            will-change: transform;

            @media screen and (max-width: 1000px) {
                height: calc(60vh * 1.8) !important;
                width: 200%;
            }
        }
    }

    &__image-item{
        width: calc(16.6666% - 12px);
        height: calc( 34vw * 1.8/5 - 12px);
        max-height: 350px;
        margin: 7.5px;

        @media screen and (max-width: 1000px) {
            height: calc( 60vh * 1.8/5 - 12px);
            width: 8%;
        }
    }

    .gradient-text{
        font-size: 28px;

        @media screen and (max-width: 1700px) {
            font-size: 24px;
        }
    }

    .text{
        font-size: 16px;
        padding: 14vh 10% !important;

        @media screen and (max-width: 1400px) {
            font-size: 12px;
        }
        @media screen and (max-width: 990px) {
            font-size: 18px;
        }
    }

    .wave-bottom{
        height: auto;
        bottom: -10px;
    }
}

