.projects{
    padding: 14vw 0;
    background-color: #f6f6f6;
    position: relative;

    @media screen and (min-width: 990px) {
        padding-top: min(7.8vw, 150px);
        padding-bottom: min(7.8vw, 150px);
    }
    
    .btn-icon.btn-gradient::before{
        background: #f6f6f6;
    }

    &__image{
        margin-top: 30px;
        height: min(30vw, 340px);

        @media screen and (max-width: 575px) {
            height: 340px;
        }
    }

    &__item{
        height: 300px;
        display: flex;
        align-items: center;
        padding-left: 30px;
        position: relative;
        overflow: hidden;
        z-index: 0;
        text-decoration: none;
        transition: all .3s;
        color: white;

        &:hover{
            transform: scale(1.03);
            z-index: 2;
        }

        &-text{
            position: relative;
            z-index: 1;
        }
        
        &-header{
            text-transform: uppercase;
        }
    }

    &__item-image{
        inset: 0;
        position: absolute;
        filter: brightness(0.5);
    }
}